.btn-green {
    background-color: green;
    color: green;
    padding: 10px 20px;
    border: none;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

.btn-red {
    background-color: red;
    color: red;
    padding: 10px 20px;
    border: none;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

.btn-green:hover {
    background-color: darkgreen;
}

.btn-red:hover {
    background-color: darkred;
}
.info > p {
    color: rgba(0, 0, 0, 0.4); /* Adjust as needed */
    margin: 0 10px;
}

.info > p > span {
    color: rgba(0, 0, 0, 0.8); /* Adjust as needed */
}

.question-body > a {
    color: #8b00ff; /* Purple color */
}

.auth-details > p {
    color: #8b00ff; /* Purple color */
}

.comments > p {
    color: rgba(0, 0, 0, 0.4); /* Adjust as needed */
}

.comments > p:hover {
    color: #8b00ff; /* Purple color */
}
.question-tags {
    background-color: #8c00ff96; /* Light purple background */
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 3px;
}

.comment {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.comment > p > span {
    background-color: #8b00ff1a; /* Light purple background */
    color: #8b00ff; /* Purple color */
    padding: 3px;
    border-radius: 2px;
}
textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    outline: solid gray;
    width: 100%;
    resize: vertical; /* Allow textarea to resize vertically */
}
.main-desc {
    display: flex;
    width: 100%;
}

.question {
    display: flex;
    width: 100%;
    padding: 20px 10px;
    margin-left: 20px;
    border-bottom: 1px solid black;
}

.question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
}
